@font-face {
  font-family: "VelaSans-Regular";
  src: url("/fonts/VelaSans/VelaSans-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "VelaSans-Medium";
  src: url("/fonts/VelaSans/VelaSans-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "VelaSans-SemiBold";
  src: url("/fonts/VelaSans/VelaSans-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "VelaSans-Bold";
  src: url("/fonts/VelaSans/VelaSans-Bold.ttf") format("truetype");
  font-display: swap;
}