@font-face {
  font-family: "Manrope-Regular";
  src: url("/fonts/Manrope/Manrope-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Manrope-Medium";
  src: url("/fonts/Manrope/Manrope-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Manrope-SemiBold";
  src: url("/fonts/Manrope/Manrope-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Manrope-Bold";
  src: url("/fonts/Manrope/Manrope-Bold.ttf") format("truetype");
  font-display: swap;
}


@font-face {
  font-family: "Coolvetica-Regular";
  src: url("/fonts/Coolvetica/CoolveticaRg-Regular.ttf") format("truetype");
  font-display: swap;
}