@import "_default-import";

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	font-family: $regular, Arial, Helvetica, sans-serif;
	background-color: $bg-platform;
}

a {
	color: $brand-color1;
}

label {
	position: relative;
}