@import "_default-import";

* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	font-family: $regular, Arial, Helvetica, sans-serif;
	font-size: vwHandler(16);
	font-weight: normal;
}

a {
	color: $brand-color1;

	&:hover {
		text-decoration: none;
	}
}

label {
	position: relative;
}