@import "../../Assets/scss/default-import";

/* BUTTON STYLES */

$purple-hover: #7F8AD7;
$purple-activated: $brand-color2;

$dark-hover: #23273F;
$dark-activated: #01051E;

@mixin styleButton($bg-c, $colorHover, $colorActivated, $colorDisabled) {
	&.button {
		background-color: $bg-c;

		&_activated {
			background-color: $colorActivated;
		}

		&_disabled {
			opacity: 0.3;
			pointer-events: none;
			background-color: $colorDisabled;
		}

		&:hover {
			cursor: pointer;
			background-color: $colorHover;
		}
	}
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	height: vwHandler(44);
	color: $white;
	font-size: vwHandler(18);
	line-height: 135%;
	font-family: $semibold;
	text-decoration: none;
	padding: 0 vwHandler(12);
	@include border12;
}

.button {
	transition: background-color 0.6s;
}

.button {
	&_purple {
		@include styleButton($brand-color1, $purple-hover, $purple-activated, $brand-color1);
	}

	&_dark {
		@include styleButton($primary, $dark-hover, $dark-activated, $primary);
	}

	&_alignment {
		margin: vwHandler(20) 0 0 auto;
	}

	&_alignment0 {
		margin: 0 0 0 auto;
	}
}