@import "../../assets/scss/default-import";

/* TASK INFO STYLES */

.sendcomplitedwork {
	width: vwHandler(624);
	height: vwHandler(200);
	margin-top: vwHandler(30);
	@include container;
	transition: all 0.6s;

	&__title {
		@include title(20);
		margin: 0;
	}

	&__text {
		margin: vwHandler(20) 0 vwHandler(28);
	}
}